<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
      Filtro Web
  </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
      <div class="header">
        <h1>Filtro Web</h1>
      </div>
      <div class="sidebar">
        <h2 class="fgd_icon">blocked</h2>
      </div>
      <div class="main">
        <h3>Web Page Blocked!</h3>
      <div class="notice">
      <p>
        You have tried to access a web page which is in violation of your internet usage policy.
      </p>
      <p>
        URL: %%URL%%
      <br />
        Category: %%CATEGORY%%
      </p>
    <p>
      %%OVERRIDE%%
    </p>
    <p>
      To have the rating of this web page re-evaluated 
      <a href="%%FTGD_RE_EVAL%%">
        please click here
      </a>
    </p>
    </div>
    </div>
  </body>
</html>